@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;

}

.wrapper{
  width: 100vw;
  height: 100vh;
  background-image: url(https://i.pinimg.com/originals/64/a0/c7/64a0c7e67e94e682e8ea78ffc5cbab0f.gif);
  color: white;
  background-size: cover;
  background-position: center;

}
.brand {
margin-top: -7px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.menu {
  display: flex;
  width: 60%;
  justify-content:space-between;
}


.menu li {
  list-style: none;
  
}


.menu a {
  color:rgb(0, 0, 0);
  text-decoration: none;
padding: 10px 20px;
border-radius: 35%;

margin: 1em;
border: none;
text-transform: uppercase;
background-color:#94ba65;
border-radius: 20px;

}

.menu .active {
  color: #ffffff;

}

.menu a:hover{
  background-color:#9D2CEE;
  color: #191c32;
  transition: ease-in.3s ;
}





.brand span {
  color: rgb(93, 9, 196);
}

.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
}
h1 {
  font-size: 3em;
  color:blueviolet
}
span {
  color:#94ba65;
}


.content p {
  color: #fff9f9;
  font-size: 1.5em; /* Puedes ajustar el color según tu preferencia */
}


.download-cv {
  padding: 10px 20px ;
  background-color:#94ba65;
  border: none;
  border-radius: 20px;
  margin-top:10px;
  cursor:  pointer;
}
.download-cv:hover {
  background-color:blueviolet;

}
.link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/*estilos para la imagen 
*/
.main img {
  height: 300px;
  width: 350px;
  border-radius: 40%;
  border:7px solid purple;
}
/*
estilos para el about me 
*/
.about {
  background-color:#191c32;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  width: 100vw;
  align-items: center;
}

.about img {
  margin-top: 75px;
  width: 100%;
  grid-column: 1/5;
}

.about-info{
  color: rgb(255, 255, 255);
  grid-column: 5/10;
padding: 3em;
}

.about-info h2 {
  font-size: 2em;
  color: #ffffff;
}
.about-info p {
  font-size: 1em;

}

.divider {
  height: 4px;
  width: 60px;
  background-color:#42f2f2;
  margin-top: 5px;
  margin-bottom: 2em;
}

.about p {
  margin-bottom: 1em;
}

/*
estilos para el porfolio
*/


.portfolio{
  width: 100%;
  background-color: #191c32;
  color: white;
}
.portflio-headings {
  width: 100%vh;
  padding: 5em;

}

.portflio-headings h2 {
  font-size: 2.5em;
}

.portfolio .container {
  width: 1000px;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}


.card {
  
 width: 100%;
  height: 550px;
 color: rgb(255, 255, 255);
  background-color:#101e4b;
  margin: 1em;



}
.card_img {
  width: 100%;
  height: 300px;
  background-image: url(../img/pc.png) ;
  background-size: cover;
}

#card1 {
  width: 100%;
  height: 300px;
  margin-top: 0 auto;
  background-image: url(../img/gifCountries.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#card2 {
  width: 100%;
  height: 300px;
  margin-top: 0 auto;
  background-image: url(../img/Consumedic.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card_title {
  padding: 30px;
}

.card_projects-links {
  display: flex;
  justify-content:space-evenly ;
}

.card_projects-links a {
  color:rgb(255, 255, 255);
  text-decoration:none;

}

.card_projects-links i {
font-size: 1.5em ;
}

.card  .projects-details {
  margin: 0 auto;
  margin: 1em;
  width: 70%;
  

}
.card .projects-details a {
  text-decoration: none;
  color: #191c32;
  text-transform: uppercase;
}

.proyects-details-content{
  display: flex;
  width: 100%;
  justify-content: center;
   margin-top: 1em;
}

/*
estilos para el contac me 
*/
.contact-section{
  background-color: #191c32;
  
}

.contact-headings h2 {
  padding: 30px;
  font-size: 2.5em;

}

.container-contact {
 justify-content: center;
 align-items: center;
  padding: 3em;
  margin-top:  1 auto;
  display: flex;
  align-items: center;
}
.container-contact img {
  
  width: 500px;
  height: 600px;
  bottom: 0px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin-top: 2em;

}

.form input {
  color: aqua;
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid white;

}

.form textarea {
  height: 150px;
  background: none;
  color: aqua;
  padding: 1.5em;
  border: 1px solid white;
  
}
.contact-form{
  font-size: 2em;
  color: #2890b3;

}
.contact-form h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 1em;
  border: none;
  text-transform: uppercase;
  background-color: #ffffff;
  border-radius: 20px;

}

.btn-submit {
  padding: 10px 20px;
  margin: 1em;
  border: none;
  text-transform: uppercase;
  background-color: #42f2f2;
  border-radius: 20px;
  cursor: pointer;

}

.btn-submit:hover {
  background-color: rgb(255, 255, 255);
}

.footer {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100px;
  background-color: #191c32;
}
.footer-content {
  font-size: 1em;
}

.footer-content h5{
  font-size: 1em;
}

.social-network {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 1em;
  

}

.social-network i {
  font-size: 1.5em;
  text-decoration: none;
  color: #ffffff;
}

.main {
  overflow: hidden;
}

.slider-container {
  overflow-x: scroll;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.slider {
  display: inline-flex;
}

.slider img {
  margin-top: auto;
  width: 20%;
  height: auto;
  object-fit: cover;
}

.calendly-inline-widget {
  background-color:#191c32;
}

.proyects-details-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proyects-details-content p {
  margin-top: 10px;
}


/*
verde #94ba65
azul #2b4e72
*/